.article {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  &__foto {
    flex: 0 0 auto;
    width: 288px;
    user-select: none;
    margin-right: 64px;
    padding-bottom: 36px;
  }

  &__foto-img {
    width: 100%;
    display: block;
    position: sticky;
    top: 10px;
    left: 0;
  }

  &__content {
    width: 100%;
    max-width: 662px;
  }

  &__title {
    margin-bottom: 22px;
    @include style-title-h2;
    cursor: default;
  }

  &__txt {
    font-weight: 300;
    @include style-text-blocks;
    text-indent: 2em;
    letter-spacing: 0.03em;
  }

  &__pag {
    margin-top: 60px;
  }

  @include respond-to(desktop-wide) {
    &__foto {
      margin-right: 32px;
    }
  }

  @include respond-to(desktop) {
    flex-wrap: wrap;
    max-width: 736px;
    margin-left: auto;
    margin-right: auto;

    &__content {
      max-width: 100%;
    }

    &__foto {
      width: 288px;
      height: 192px;
      max-width: 100%;
      overflow: hidden;
      margin-right: 0;
    }

    &__foto-img {
      min-width: 100%;
      min-height: 100%;
      max-width: 150%;
      max-height: 150%;

      @supports (object-fit: cover) {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @include respond-to(mobile-wide) {
    &__foto {
      margin-bottom: 24px;
      padding-bottom: 0;
    }

    &__title {
      margin-bottom: 8px;
      @include font-size(23px, 32px);
    }

    &__txt {
      @include font-size(12px, 20px);
    }

    &__pag {
      margin-top: 36px;
    }
  }
}
