.section-cats {
  padding-top: 48px;
  padding-bottom: 24px;

  &__title {
    color: $color-white;
    margin-bottom: 48px;
  }

  @include respond-to(tablet-wide) {
    padding-top: 32px;
    padding-bottom: 16px;
  }

  @include respond-to(tablet) {
    &__title {
      margin-bottom: 24px;
    }
  }
}


.cats-block {
  position: relative;
  margin-top: -16px;
  margin-left: -16px;
  margin-right: -16px;

  &__pag {
    position: relative;
    bottom: 0 !important;
    text-align: center;
    padding: 20px 0;
  }

  &__arrow {
    position: absolute;
    bottom: 11px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $color-white;
    cursor: pointer;
    transition: color 0.3s ease;

    &:hover {
      color: $color-main;
    }

    &:active {
      margin-bottom: -2px;
    }

    &.swiper-button-disabled {
      opacity: 0.3;
      pointer-events: none;
    }

    &--prev {
      left: calc(50% - 60px);
      transform: translateX(-100%);
    }

    &--next {
      right: calc(50% - 60px);
      transform: translateX(100%);
    }
  }

  &__arrow-icn {
    display: inline-block;
    width: 12px;
    height: 20px;
  }

  //
  &__container {
    position: relative;
  }

  &__item {
    padding: 16px;
  }

  &__link {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    transition: transform 0.5s ease;

    &:hover {
      text-decoration: none;
      transform: scale(1.05);
    }
  }

  &__cover {
    display: block;
  }

  &__height {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-bottom: 67.47%;
  }

  &__img {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    box-sizing: border-box;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 14px;
    text-transform: uppercase;
    color: $color-black;
    background: $color-main;
    text-align: center;
    @include style-title-h3;
    text-shadow: 1px 1px 0 rgba($color-white, 0.1);
    transition: background 0.3s ease;
  }

  &__link:hover &__title {
    background: $color-influential;
  }

  // MEDIA
  @include respond-to(slider-brake) {
    &__slide {
      width: 256px + (16 * 2);
    }
  }

  @include respond-to(desktop-wide) {
    margin-top: -8px;
    margin-left: -8px;
    margin-right: -8px;

    &__pag {
      margin-top: 5px;
    }

    &__item {
      padding: 8px;
    }

    &__title {
      height: 48px;
      @include font-size(14px, 22px);
    }
  }
}
