.section-features {
  background: rgba($color-wood, 0.3);
  padding: (18px + 36px) 0;
  @include better-fonts;

  @include respond-to(tablet) {
    padding: 32px 0;
  }
}

.features-list {
  display: flex;
  justify-content: space-around;
  align-items: stretch;

  &__item {
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    flex: 0 1 auto;
  }

  &__block {
    height: 100%;
    color: $color-white;
    text-align: center;
  }

  &__figure {
    width: 66px;
    height: 66px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    transition: transform 0.5s ease;
  }

  &__block:hover &__figure {
    transform: scale(1.2);
  }


  &__icn {
    flex: 0 0 auto;
    display: inline-block;
    max-width: 100%;
  }

  &__title {
    @include style-title-h3;
    display: block;
    margin-bottom: 14px;
    cursor: default;
  }

  &__text {
    @include font-size(14px, 22px);
    letter-spacing: 0.01em;
    font-weight: 300;
    padding-left: 14px;
    padding-right: 14px;
    cursor: default;
  }

  // MEDIA
  @include respond-to(2k) {
    margin-left: -30px;
    margin-right: -30px;
  }

  @include respond-to(desktop-wide) {
    margin-left: -6px;
    margin-right: -6px;

    &__item {
      padding-left: 6px;
      padding-right: 6px;
    }
  }

  @include respond-to(tablet-wide) {
    flex-wrap: wrap;
    margin-bottom: -32px;

    &__item {
      width: 50%;
      margin-bottom: 32px;
    }


    &__title {
      margin-bottom: 8px;
    }

    &__text {
      @include font-size(12px, 18px);
    }
  }

  @include respond-to(tablet) {
    margin-bottom: -24px;

    &__item {
      width: 100%;
      margin-bottom: 24px;
    }

    &__figure {
      width: 50px;
      height: 50px;
      margin-bottom: 4px;
    }

    &__title {
      br {
        display: none;
      }
    }
  }
}
