// MAIN JUMBO
.jumbo-main {
  position: relative;
  height: 420px;
  background: url('#{$img}/jumbo-main.jpg') no-repeat center center, linear-gradient(to bottom, #4e4443, #100e0f);
  padding-top: 108px;
  color: $color-white;
  @include better-fonts;

  &__title {
    display: block;
    font-weight: 400;
    cursor: default;
  }

  &__title-sub {
    display: block;
    text-transform: uppercase;
    letter-spacing: 0.905em;
    @include font-size(16px, 26px);
  }

  &__title-name {
    text-transform: uppercase;
    @include font-size(46px, 72px);
  }

  &__text {
    color: $color-white;
    @include font-size(16px, 24px);
    letter-spacing: 0.07em;
    max-width: 380px;
    cursor: default;
  }


  @include respond-to(4k) {
    background-position: right center, 0 0;
  }

  @include respond-to(desktop-wide) {
    background-position: right -250px center, 0 0;
  }

  @include respond-to(tablet-wide) {
    display: flex;
    align-items: center;
    height: 224px;
    padding-top: 0;
    background-size: cover;
    background-position: 0 0;

    &__title-sub {
      @include font-size(12px, 16px);
      letter-spacing: 0.7em;
      margin-bottom: 4px;
    }

    &__title-name {
      @include font-size(23px, 32px);
      margin-bottom: 4px;

      b {
        font-weight: 400;
      }
    }

    &__text {
      @include font-size(12px, 18px);
      font-weight: 300;
    }
  }

  @include respond-to(tablet) {
    align-items: flex-start;
    padding-top: 24px;
    background-position: right -150px center;
    background-size: auto 100%;
    padding-right: 50px;
  }

  @include respond-to(mobile) {
    background: url('#{$img}/jumbo-main-mob.jpg') no-repeat 0 0;
    padding-right: 0;
  }
}


// KIDS
.jumbo-kids {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  padding-bottom: 12px;
  height: 420px;
  background: url('#{$img}/jumbo-kids.jpg') no-repeat center center, linear-gradient(to bottom, #2d1006, #000, #151410);
  text-align: center;

  &__title {
    @include font-size(46px, 72px);
    color: $color-white;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    cursor: default;
  }


  @include respond-to(tablet-wide) {
    padding-bottom: 8px;
    height: 228px;
    background-size: auto 100%;

    &__title {
      @include font-size(23px, 32px);
    }
  }

  @include respond-to(mobile) {
    background-image: url('#{$img}/jumbo-kids-mob.jpg');
  }
}

// FANTASTIC
.jumbo-fantastic {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  padding-bottom: 60px;
  height: 420px;
  background: $color-black url('#{$img}/jumbo-fantastic.jpg') no-repeat right center;

  &__title {
    @include font-size(46px, 72px);
    color: $color-white;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
  }


  @include respond-to(2k) {
    background-position: right -100px center;
  }

  @include respond-to(tablet-wide) {
    padding-bottom: 24px;
    height: 176px;
    background-size: auto 100%;
    background-position: right center;

    &__title {
      @include font-size(23px, 32px);
      font-weight: 400;
    }
  }

  @include respond-to(mobile) {
    background-image: url('#{$img}/jumbo-fantastic-mob.jpg');
    background-position: right -40px center;
  }
}

// HUMOR
.jumbo-humor {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  padding-bottom: 60px;
  height: 420px;
  background: #EBD799 url('#{$img}/jumbo-humor.jpg') no-repeat right center;

  &__title {
    @include font-size(46px, 72px);
    color: $color-black;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
  }

  @include respond-to(2k) {
    background-position: right -100px center;
  }

  @include respond-to(desktop-wide) {
    background-position: right -280px center;
  }

  @include respond-to(tablet-wide) {
    padding-bottom: 36px;
    height: 176px;
    background-size: auto 100%;
    background-image: url('#{$img}/jumbo-humor-mob.jpg');
    background-position: right center;

    &__title {
      @include font-size(23px, 32px);
      font-weight: 400;
    }
  }

  @include respond-to(mobile) {
    background-image: url('#{$img}/jumbo-humor-mob.jpg');
    background-position: right -40px center;
  }
}

// POETRY
.jumbo-poetry {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  padding-bottom: 60px;
  height: 420px;
  background: #EBD799 url('#{$img}/jumbo-poetry.jpg') no-repeat center center, linear-gradient(to bottom,#81867e,#6e7975,#946e4d);

  &__title {
    @include font-size(46px, 72px);
    color: $color-white;
    letter-spacing: 0.05em;
    font-weight: 700;
    text-transform: uppercase;
    cursor: default;
  }

  @include respond-to(2k) {
    background-position: right -100px center;
  }

  @include respond-to(tablet-wide) {
    padding-bottom: 36px;
    height: 176px;
    background-size: cover;
    background-position: right center;

    &__title {
      @include font-size(23px, 32px);
      font-weight: 400;
    }
  }

  @include respond-to(mobile) {
    background-image: url('#{$img}/jumbo-poetry-mob.jpg'), linear-gradient(to bottom,#81867e,#6e7975,#946e4d);
  }
}


// GIFT
.jumbo-gift {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: $color-white url('#{$img}/jumbo-gift.jpg') no-repeat left  center;
  height: 420px;
  padding-left: 500px;

  &__title {
    @include font-size(46px, 72px);
    color: $color-text;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    cursor: default;
  }

  &__text {
    max-width: 440px;
    @include font-size(16px, 24px);
    letter-spacing: 0.07em;
  }

  @include respond-to(desktop) {
    height: 314px;
    background-size: contain;
    padding-left: 380px;
  }

  @include respond-to(tablet-wide) {
    background-position: left -100px center;
    padding-left: 260px;

    &__title {
      @include font-size(23px, 32px);
      margin-bottom: 24px;
    }
  }

  @include respond-to(tablet) {
    height: 120px;
    padding-left: 0;
    padding-right: 100px;
    background: $color-white url('#{$img}/jumbo-gift-mob.jpg') no-repeat right center;

    &__title {
      margin-bottom: 0;
    }

    &__text {
      display: none;
    }
  }

  @include respond-to(mobile) {
    &__title-bold {
      display: block;
    }
  }
}


// SCENARIO
.jumbo-scenario {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 420px;
  color: $color-white;
  background: url('#{$img}/jumbo-scenario.jpg') no-repeat right center, linear-gradient(to bottom, #0b0d0c, #151915);
  background-size: auto 100%;

  &__title {
    @include font-size(46px, 72px);
    color: $color-white;
    letter-spacing: 0.05em;
    font-weight: 400;
    text-transform: uppercase;
    cursor: default;
    max-width: 600px;
    margin-bottom: 110px;
  }

  &__title-bold {
    font-weight: 700;
    color: $color-main;
  }

  @include respond-to(2k) {
    &__title {
      max-width: 400px;
      margin-bottom: 28px;
    }
  }

  @include respond-to(tablet-wide) {
    height: 224px;

    &__title {
      @include font-size(23px, 32px);
      letter-spacing: 0.03em;
      max-width: 270px;
    }

    &__title-bold {
      font-weight: 500;
    }
  }

  @include respond-to(mobile-wide) {
    background-position: right -150px center;
  }
}
