.section-seo {
  background: $color-white;
  padding-top: 72px;
  padding-bottom: 72px;

  &__title {
    margin-bottom: 32px;
  }

  &__text {
    text-indent: 1.5em;
    font-weight: 300;
    @include font-size(16px, 32px);
    font-family: $font-serif;
    letter-spacing: 0.03em;
  }


  @include respond-to(tablet-wide) {
    padding-top: 32px;
    padding-bottom: 32px;

    &__title {
      text-align: center;
      @include font-size(23px, 32px);
      margin-bottom: 16px;
    }

    &__text {
      @include font-size(14px, 24px);
    }
  }
}
