.header {
  background: $color-black;
  @include better-fonts;

  &__w {
    position: relative;
  }

  &__table {
    padding-right: 52px; // search width
  }

  &__burger {
    display: none;
    margin-right: 14px;
    margin-bottom: 8px;
  }

  &__soc {
    margin-left: 29px;
    margin-bottom: 8px;
    // margin-right: 16px;
  }

  &__search {
    position: absolute;
    right: 22px;
    top: 0;
  }

  // MEDIA
  @include respond-to(desktop-wide) {
    &__table {
      padding-right: 30px;
    }

    &__burger {
      display: inline-block;
    }

    &__menu {
      background: $color-black;
      position: absolute;
      top: 100%;
      left: 0;
      width: auto;
      z-index: 99;
    }

    &__soc {
      margin-left: auto;
    }

    &__search {
      right: 0;
    }
  }

  @include respond-to(desktop) {
    &__table {
      padding-right: 50px;
    }
  }

  @include respond-to(mobile-wide) {
    &__soc {
      display: none !important;
    }
  }

  @include respond-to(mobile) {
    &__table {
      padding-right: 0;
    }

    &__burger {
      margin-right: 8px;
    }

    &__logo {
      width: 165px;
      height: 16px;
    }
  }
}

.header-table {
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.header-logo {
  display: inline-block;
  vertical-align: top;
  user-select: none;
  color: $color-main;
  text-decoration: none;
  margin-bottom: 17px;
  line-height: 1;

  &:hover {
    color: $color-influential;
  }

  &:active {
    transform: translateY(1px);
  }

  &__img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}


.header-soc {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  vertical-align: top;

  &__item {
    display: inline-block;
    vertical-align: top;
    flex: 0 0 auto;
    margin-right: 2px;
    line-height: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: inline-flex;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    line-height: 30px;
    flex: 0 0 auto;
    color: $color-white;
    text-decoration: none;

    &:hover {
      color: $color-main;
      text-decoration: none;
    }
  }

  &__icn {
    width: 16px;
    height: 16px;
    vertical-align: top;

    &--whatsup,
    &--vk {
      width: 20px;
      height: 20px;
    }
  }
}

.header-search {
  height: 100%;
  background: $color-black;
  border-left: 1px solid $color-border;

  &__form {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    height: 100%;
  }

  &__field {
    position: relative;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease, padding-left 0.3s ease;
    align-self: flex-end;
    margin-bottom: 8px;
    padding-left: 0;
  }

  &.is-active &__field {
    width: 225px;
    padding-left: 18px;
  }

  &__input {
    border: 1px solid $color-border;
    height: 34px;
    width: 100%;
    padding: 0;
    background: $color-white;
    transition: border 0.4s ease, box-shadow 0.4s ease;
    padding-left: 18px;
    padding-right: 30px;
    letter-spacing: 0.01em;
    @include font-size(14px, 34px);
    font-weight: 400;
    margin-right: 6px;
    outline: none;

    &::placeholder {
      opacity: 1;
      color: $color-placeholder;
    }

    &:focus {
      //
    }
  }

  &__clear {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: $color-black;
    cursor: pointer;
    opacity: 0;
    transition: color 0.2s ease, opacity 0.3s ease;

    &:hover {
      color: $color-influential;
    }
  }

  &.is-active &__clear {
    opacity: 1;
  }

  &__clear-icn {
    width: 16px;
    height: 16px;
  }

  &__send {
    display: inline-flex;
    justify-content: center;
    align-items: flex-end;
    cursor: pointer;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
    color: $color-border;
    background: transparent;
    width: 58px;
    padding-bottom: 14px;
    text-align: center;
    transition: color 0.3s ease;

    &:hover {
      color: $color-white;
    }

    &:active {
      padding-bottom: 12px;
    }
  }

  &__icn {
    text-align: center;
    height: 18px;
    width: 18px;
  }

  @include respond-to(mobile-wide) {
    border-color: transparent;
  }

  @include respond-to(mobile-wide) {
    &__field {
      padding-left: 0;
    }

    &.is-active &__field {
      padding-left: 0;
      width: calc(100vw - 120px);
    }
  }
}
