/* TITLES */
.title {
  display: block;
  font-weight: 400;
  cursor: default;
  clear: both;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  position: relative;
  overflow: hidden;
  @include font-size(30px, 46px);
  letter-spacing: 0.02em;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    width: calc(50% - 273px);
    height: 1px;
    margin-top: -1px;
    background: currentColor;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &__inside {
    background: url('#{$img}/title-left.svg') no-repeat left center, url('#{$img}/title-right.svg') no-repeat right center;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    max-width: 550px;
  }

  @include respond-to(tablet-wide) {
    display: flex;
    justify-content: center;
    align-items: center;

    &::before,
    &::after {
      width: 100%;
      flex: 1 1 auto;
      position: static;
    }

    &__inside {
      flex: 0 0 auto;
      padding-left: 20px;
      padding-right: 20px;
      background: none;
      width: auto;
      max-width: 100%;
    }
  }

  @include respond-to(tablet) {
    @include font-size(18px, 24px);
    margin-bottom: 24px;
  }
}

.title-h2 {
  @include style-title-h2;
  text-transform: uppercase;
  display: block;
}

/* ICONS */
svg.icn {
  user-select: none;
  display: inline-block;
  fill: currentColor;
  color: currentColor;
}
