.breadcrumbs {
  //

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
  }

  &__item {
    display: inline-block;
    vertical-align: top;
    @include font-size(10px, 16px);
    margin-right: 4px;
    color: $color-text;

    &:last-child {
      margin-right: 0;
    }
  }

  &__sep {
    vertical-align: middle;
    width: 10px;
    height: 10px;
    margin-left: 4px;
  }

  &__link,
  &__span {
    display: inline-block;
    vertical-align: middle;
  }

  &__link {
    text-decoration: none;
    color: $color-text;

    &:hover {
      color: $color-main;
      text-decoration: none;
    }
  }

  // on transparent bg
  &--invert &__item {
    color: $color-white;
  }

  &--invert &__link {
    color: $color-white;

    &:hover {
      color: $color-main;
    }
  }

  &__span {
    color: rgba($color-text, 0.5);
    cursor: default;
  }

  &--invert &__span {
    color: rgba($color-white, 0.5);
  }
}
