// MIXINS
@mixin font-size($fontSize, $fontInterliase) {
  font-size: $fontSize;
  line-height: $fontInterliase / $fontSize;
}

@mixin line-height($fontSize, $fontInterliase) {
  line-height: $fontInterliase / $fontSize;
}

@mixin better-fonts() {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


// STYLES
@mixin style-more-link () {
  font-style: italic;
  color: $color-muted;
  font-family: $font-serif;
  font-size: 14px;
  letter-spacing: 0.01em;

  &:hover {
    color: $color-text;
  }
}

@mixin style-title-h1() {
  @include font-size(36px, 60px);
  font-weight: 400;
  letter-spacing: 0.03em;
}

@mixin style-title-h2() {
  @include font-size(30px, 40px);
  font-weight: 500;
  letter-spacing: 0.02em;
}

@mixin style-title-h3() {
  @include font-size(18px, 30px);
  font-weight: 500;
  letter-spacing: 0.05em;
}

@mixin style-text-base {
  @include font-size(16px, 24px);
  font-family: $font-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
}

@mixin style-text-blocks {
  @include font-size(16px, 32px);
  font-family: $font-serif;
  font-weight: 300;
  letter-spacing: 0.03em;
}

@mixin style-inline-text {
  @include font-size(14px, 24px);
  font-weight: 400;
}

@mixin style-small-text {
  @include font-size(12px, 18px);
  font-weight: 400;
}


// Media
@mixin respond-to($media) {
  @if $media == 4k {
    @media only screen and (max-width: $media-4k) { @content; }
  }
  @if $media == 2k {
    @media only screen and (max-width: $media-2k) { @content; }
  }
  @if $media == slider-brake {
    @media only screen and (max-width: $media-slider-brake) { @content; }
  }
  @else if $media == desktop-wide {
    @media only screen and (max-width: $media-desktop-wide + 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: $media-desktop + 1) { @content; }
  }
  @else if $media == tablet-wide {
    @media only screen and (max-width: $media-tablet-wide + 1) { @content; }
  }
  @else if $media == tablet-large {
    @media only screen and (max-width: $media-tablet-large + 1) { @content; }
  }
  @else if $media == tablet-medium {
    @media only screen and (max-width: $media-tablet-medium + 1) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $media-tablet + 1) { @content; }
  }
  @else if $media == mobile-wide {
    @media only screen and (max-width: $media-mobile-wide + 1) { @content; }
  }
  @else if $media == mobile {
    @media only screen and (max-width: $media-mobile + 1) { @content; }
  }
}
