// Base
$w: 1120px;
$bg: #56381C;
$img: '../img';
$fonts: '../fonts';

// Colors
$color-black: #000;
$color-white: #fff;
$color-main: #63DBC5;
$color-accent: #F5AA1E;
$color-influential: #DE325B;
$color-paper: #FFFEEC;
$color-danger: #FF4454;

$color-light: #FFD233;
$color-muted: #777;
$color-wood: #0C0503;
$color-dark-sky: #3A3468;
$color-jumbo-bg: #141212;
$color-placeholder: #828282;
$color-border: #999;
$color-sub: #443E3E;
$color-inputs: #ccc;

// Colors-text
$color-text: $color-black;
$color-link: $color-accent;
$color-link-hover: darken($color-border, 20%);


// Z-index
$z-modal: 999;

// Fonts options
$font: 'Montserrat', Arial, 'Helvetica CY', 'Nimbus Sans L', sans-serif;
$font-serif: 'Noto Serif', Georgia, 'Century Schoolbook L', Serif;
$font-base: 62.5%;
$font-size: 16px;
$line-height: 1.5;

$btn-line-heigh: 1.25;
$form-line-height: 1.25;

$h1: 3.4rem;
$h2: 3.2rem;
$h3: 2.8rem;
$h4: 2.4rem;
$h5: 2rem;
$h6: 1.8rem;

// Paddings
$padd-xs: 1rem;
$padd-sm: 2rem;
$padd-md: 3rem;
$padd-lg: 4rem;
$padd-xl: 5rem;

// Media
$media-4k: 1440px;
$media-2k: 1280px;
$media-slider-brake: 1220px;
$media-desktop-wide: 1100px;
$media-desktop: 960px;
$media-tablet-wide: 840px;
$media-tablet: 620px;
$media-mobile-wide: 540px;
$media-mobile: 420px;
$media-phone: 320px;


@mixin respond-to($media) {
  @if $media == 4k {
    @media only screen and (max-width: $media-4k) { @content; }
  }
  @if $media == 2k {
    @media only screen and (max-width: $media-2k) { @content; }
  }
  @if $media == slider-brake {
    @media only screen and (max-width: $media-slider-brake) { @content; }
  }
  @else if $media == desktop-wide {
    @media only screen and (max-width: $media-desktop-wide + 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (max-width: $media-desktop + 1) { @content; }
  }
  @else if $media == tablet-wide {
    @media only screen and (max-width: $media-tablet-wide + 1) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (max-width: $media-tablet + 1) { @content; }
  }
  @else if $media == mobile-wide {
    @media only screen and (max-width: $media-mobile-wide + 1) { @content; }
  }
  @else if $media == mobile {
    @media only screen and (max-width: $media-mobile + 1) { @content; }
  }
}
