.gifts-page {
  padding: 60px 0;

  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    margin-left: -40px;
    margin-right: -40px;
  }

  &__list-item {
    width: calc(100% / 3);
    padding-left: 40px;
    padding-right: 40px;
  }

  @include respond-to(slider-brake) {
    &__list {
      margin-left: -20px;
      margin-right: -20px;
    }

    &__list-item {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  @include respond-to(desktop-wide) {
    &__list {
      margin-left: 0;
      margin-right: 0;
    }

    &__list-item {
      padding-left: 0;
      padding-right: 0;
    }
  }

  @include respond-to(tablet-wide) {
    &__list {
      display: block;
    }

    &__list-item {
      margin-left: auto;
      margin-right: auto;
      max-width: 420px;
      width: 100%;
      margin-bottom: 20px;
      border-bottom: 1px solid $color-lines;

      &:last-child {
        margin-bottom: 0;
        border-bottom: 1px solid #000;
      }
    }
  }

  @include respond-to(tablet) {
    padding-top: 32px;
    padding-bottom: 24px;
  }

  @include respond-to(mobile) {
    &__list-item {
      margin-bottom: 0;
    }
  }
}



.gift-block {
  position: relative;
  background: $color-paper;
  padding: 12px 36px 28px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 0 0 0 $color-paper, 0 0 0 0 rgba($color-black, 0.01);
  will-change: transform;

  &:hover {
    box-shadow: 0 0 0 10px $color-paper, 0 0 50px 10px rgba($color-black, 0.8);
  }

  &__title {
    display: block;
    @include font-size(23px, 32px);
    font-weight: 400;
    border-bottom: 2px solid rgba($color-lines, 0.5);
    margin-bottom: 20px;
    padding-bottom: 8px;
    cursor: default;
  }

  &__body {
    padding-bottom: 16px;
  }

  &__cover {
    display: inline-block;
    vertical-align: top;
    max-width: 264px;
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__info {
    margin-bottom: 12px;
    flex: 0 0 auto;
    @include font-size(12px, 18px);
    letter-spacing: 0.01em;
  }

  &__footer {
    border-top: 2px solid rgba($color-lines, 0.5);
    padding-top: 12px;
  }

  &__price {
    display: block;
    @include font-size(18px, 32px);
    font-weight: 700;
    margin-bottom: 4px;
    cursor: default;
    letter-spacing: 0.05em;
  }

  // MEDIA
  @include respond-to(desktop-wide) {
    padding: 12px 10px 28px;
    box-shadow: 0 0 0 0 $color-paper, 0 0 80px rgba(0, 0, 0, 0.01);
    transition: box-shadow 0.5s ease;

    &.has-active {
      z-index: 5;
      box-shadow: 0 0 0 10px $color-paper, 0 0 50px 10px rgba($color-black, 0.8);
    }
  }

  @include respond-to(tablet-wide) {
    padding: 24px 16px 28px;

    &.has-active {
      z-index: 5;
      box-shadow: none;
    }
  }

  @include respond-to(mobile) {
    &__body {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-bottom: 8px;
      padding-bottom: 0;
    }

    &__cover {
      order: 0;
      flex: 0 0 auto;
      margin-bottom: 20px;
    }

    &__title {
      border-bottom: none;
      margin-bottom: 12px;
      padding-bottom: 0;
      order: 1;
      @include font-size(16px, 24px);
    }

    &__info {
      order: 2;
      margin-bottom: 12px;
    }

    &__about {
      order: 3;
    }

    &__footer {
      padding-top: 0;
      border-top: none;
    }

    &__price {
      margin-bottom: 8px;
    }

    &__buy {
      height: 32px;
      padding-left: 26px;
      padding-right: 26px;
      @include font-size(12px, 18px);
    }
  }
}
